@model UI.ViewModels.Cards.CreateVM

@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Create";
}

<fieldset>
    <legend>Create card</legend>
    <form action="/Cards/Create" method="post">
        <div class="grid">
            @Html.HiddenFor(m => m.UserId)
            <div class="row">
                <div class="col-1">@Html.LabelFor(m => m.Title)</div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Title)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="row">
                <div class="col-1">@Html.LabelFor(m => m.Balance)</div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Balance)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Balance)
                    @Html.ValidationMessage("amountError", new { @style = "error right" })
                </div>
            </div>
            <div class="row">
                <div class="col-1">@Html.LabelFor(m => m.ValidThru)</div>
                <div class="col-1">
                    @Html.EditorFor(m => m.ValidThru,
                             new { htmlAttributes = new { @class = "form-control", type = "date" } }
                             )
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.ValidThru)
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <input type="submit" class="right" value="Create" />
                    <a class="right" href="/Cards/Index?Id=@Model.UserId">Back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>
