@model UI.ViewModels.Users.ChangePasswordVM

@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Change password";
}

<fieldset>
    <legend>Edit</legend>
    <form action="/Users/ChangePassword" method="post">
        <div class="grid">
            @Html.HiddenFor(m => m.Id)
            <div class="row">
                <div class="col-2">@Html.LabelFor(m => m.OldPassword)</div>
                <div class="col-2">
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div class="row">
                <div class="col-2">@Html.LabelFor(m => m.NewPassword)</div>
                <div class="col-2">
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    @Html.ValidationMessage("authError", new { @style = "error right" })
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2">
                    <input type="submit" class="right" value="Change password" />
                    <a class="right" href="/Users/Profile?Id=@Model.Id">Back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>


